.atomic{
  font-size:2rem;
  width:180px;
  height:220px;
  display:grid;
  grid-template-columns: 35% 65%;
  grid-template-rows: 25% 50% 25%;
  background:white;
}

.atomic-symbol{
  grid-column: 2;
  grid-row:2;
  font-size: 5rem;
  bottom:10px;
  position: relative;
}

.atomic-mass{
  text-align: end;
  grid-column:1;
  grid-row:1;
  vertical-align: bottom;
  top:10px;
  position: relative;
}
.atomic-number{
  text-align: end;
  grid-column:1;
  grid-row:3;
  vertical-align: top;
}


